.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

/* Full-screen styling when the camera is active */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webcam-view {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.capture-button {
  margin-top: 10px;
  padding: 15px;
  background-color: red;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.captured-image {
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
}

.button-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

.keep-button, .retake-button {
  padding: 10px;
  flex: 1;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.keep-button {
  background-color: green;
}

.retake-button {
  background-color: orange;
}
